.tour__img_ouradmin img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card{
    border: none !important;
    box-shadow: rgba(0,0,0,0.2) 0px 18px 50px -10px;
}

.tour__img_ouradmin{
    position: relative;
}

.tour__img_ouradmin span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--primary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top_ouradmin span i{
    color: var(--secondary-color);
}

.tour__rating_ouradmin{
    font-size: 0.9rem;
    color: var(--text-color);
}

.tour__location_ouradmin{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.tour__rating_ouradmin i, .tour__location_ouradmin i{
    font-size: 1rem;
}

.tour__title_ouradmin{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.tour__title_ouradmin a{
    text-decoration: none;
    color: var(--heading-color);
    transition: 0.3s;
}

.tour__title_ouradmin a:hover{
    color: var(--secondary-color);
}

.card__bottom_ouradmin h5{
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.card__bottom_ouradmin h5 span{
    font-weight: 500;
    color: var(--text-color);
    font-size: 0.8rem;
}

.booking__btn_ouradmin{
    background: var(--secondary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
}

.booking__btn_ouradmin a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.booking__btn_ouradmin a:hover{
    color: #fff;
}

.delete__btn_ouradmin{
    background: red !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
    margin-left: 0.2rem;
    color: #fff;
}

.delete__btn_ouradmin a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.delete__btn_ouradmin :hover{
    color: #e5492e;
}

@media only screen and (max-width:576px){
   .tour__title_ouradmin{
    font-size: 1rem;
   }

   .delete__btn_ouradmin a{
    font-size: 0.8rem;
   }

   .delete__btn_ouradmin{
    padding: 0.2rem 0.5rem !important;
   }

   .booking__btn_ouradmin a{
    font-size: 0.8rem;
   }

   .booking__btn_ouradmin{
    padding: 0.2rem 0.5rem !important;
   }

   .tour__location_ouradmin,.tour__rating_ouradmin{
    font-size: 0.8rem;
   }
}